<table
  width="100%"
  border="0"
  align="center"
  cellpadding="7"
  cellspacing="0"
  bgcolor="#e5e5e5"
  style="font-family: Arial; font-size: 13px; margin: 0px auto"
>
  <tr>
    <td style="padding: 20px">
      <table
        align="center"
        border="0"
        cellpadding="15"
        cellspacing="0"
        width="500px "
        style="color: black"
      >
        <tbody>
          <tr style="background: rgb(142, 151, 171)">
            <td
              valign="top"
              width="50%"
              style="
                padding: 20px;
                padding-bottom: 20px;
                border-bottom: 1px solid #eee;
                font-size: 20px;
                color: #fff;
                font-weight: bold;
                text-align: center;
              "
            >
              Satva Hospital
            </td>
          </tr>
          <tr bgcolor="#ffffff" style="color: black">
            <td
              style="
                font-family: arial;
                font-size: 15px;
                border: 1px solid #ffffff;
                color: #333;
              "
            >
              <h3 style="color: black">Dear <%= fullname %>,</h3>
              <p style="color: black">
                Please use the verification code below to reset password.
              </p>
              <h2><%= otpCode %></h2>
              <p style="color: black">
                If you didn’t request this, you can ignore this email.
              </p>
            </td>
          </tr>
          <tr>
            <td
              style="padding: 16px"
              valign="top"
              align="center"
              bgcolor="#8e7979ab"
            >
              <table
                cellspacing="0"
                cellpadding="0"
                border="0"
                align="center"
              ></table>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</table>
